# Files
.*

# Folders
__tests__/cypress/screenshots/
__tests__/cypress/videos/
coverage
dist
node_modules

# Exceptions
!.babelrc.json
!.cypress.json
!.editorconfig
!.eslintignore
!.eslintrc.json
!.github
!.gitignore
!.gitkeep
!.huskyrc.json
!.prettierrc.json
!.stylelintrc.json
!.vscode
