# Files
.*

# Folders
__snapshots__
__tests__/cypress/screenshots/
__tests__/cypress/videos/
coverage
dist
node_modules

# Exceptions
!.babelrc.json
!.eslintrc.json
!.cypress.json
!.editorconfig
!.gitignore
!.gitkeep
!.prettierrc.json
